.svg1{
    position: absolute;
    top: 3%;
    right: 7%;
    z-index: -1;
    width: 50%;
    height: 50%;
    opacity: 60%;
}
.svg2{
    position: absolute;
    bottom: 2%;
    left: 5%;
    z-index: -1;
    width: 50%;
    height: 50%;
    opacity: 60%;
}
body {
    margin: 0;
    border: 0;
    background: #A0D7FF;
    height: 100vh;
    text-align: center;
}
h1 {
    font-family: Merriweather;
    font-size: 4rem;
    color: #4477CE;
    font-style: italic;
    margin-top: 1rem ;
    margin-bottom: 1.5rem;
}
.body {
    height: 75vh;
    width: 25vw;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
.result-box {
    height: 25vh;
    font-size: larger;
    font-family: Poppins;
    color: #092c3b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#overview, #result {
    margin: 0;
    border: 0;
    width: 95%;
    height: auto;
    border-radius: 10PX;
    text-align: right;
    background-color: transparent;
    padding-right: 10px;
    overflow-x: hidden;
}
#overview, #result:hover {
    scale: 1;
}
#overview {
    opacity: 50%;
}
input {
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid whitesmoke;
    border-radius: 50px;
    font-size: larger;
    color: #092c3b;
    font-family: Poppins;
    transition: 200ms;
}
input:hover {
    scale: 1.05;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.35);
}
.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.1rem 0;
}
.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.1rem 0;
}
.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.1rem 0;
}
.row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.1rem 0 ;
}
.row5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.1rem 0;
}
.row5 .button16 {
    flex-grow: .5;
}
.button17 {
    width: 90px;
}
.footer {
    text-align: center;
    height: 10vh;
    margin-top: 20px;
    padding-top: 30px;
}
.footer p {
    font-size: small;
    color: grey;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.links {
    display: flex;
    justify-content: center;
}
.links a {
    margin: 0 10px 5px 10px ;
}
.links a:hover {
    background:  rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    scale: 1.1;
    transition: 200ms;
}





@media (max-width: 760px) {
    h1 {
        font-size: 3rem;
    }
    .row1, .row2, .row3, .row4, .row5 {
       margin: 1rem 0; 
    }
    .body {
        width: 80vw;
    }
    .result-box {
        height: 20vh;
    }
    .input-box {
        height: 80vh;
    }
}