
body {
    margin: 0;
    border: 0;
    background: url(circle-scatter-haikei.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: Poppins;
}

h1 {
    font-family: Merriweather;
    font-size: 5rem;
    color: rgb(0, 61, 83);
    font-style: italic;
    margin: 0 0 1.5rem 0;
}
.body {
    height: 70vh;
    width: 23vw;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px  rgba(0, 0, 0, 0.1);
}
.result-box {
    height: 15vh;

    color: #092c3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    text-align: right;
}
#result-p {
    height: 7.5vh;
    width: 90%;
    margin: 1rem 0;
    font-size: 1.5rem;
}

#result {
    margin: 0;
    border: 0;
    width: 90%;
    height: 7.5vh;
    background-color: transparent;
    overflow-x: hidden;
    box-shadow: none;
    border-radius: 0;
    text-align: right;
    font-size: larger;
}
#result:hover {
    scale: 1;
}
.input-box {
    height: 55vh;
    padding-top: 20px;
}
input {
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid whitesmoke;
    border-radius: 50px;
    font-size: larger;
    color: #092c3b;
    font-family: Poppins;
    transition: 200ms;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.1);
}
input:hover {
    scale: 1.05;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.35);
}
.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.1rem 0;
}
.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.1rem 0;
}
.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.1rem 0;
}
.row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.1rem 0 ;
}
.row5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.1rem 0;
}
.footer {
    text-align: center;
    height: 8vh;
    padding-top: 25px;
}
.footer p {
    font-size: small;
    color: grey;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.links {
    display: flex;
    justify-content: center;
}
.links a {
    margin: 0 10px 5px 10px ;
}
.links a:hover {
    background:  rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    scale: 1.1;
    transition: 200ms;
}




@media (max-width: 992px){
    .body{
        width: 35vw;
    }
    h1{
        font-size: 4rem;
    }
}
@media (max-width: 760px) {
    body{
        background: url(circle-scatter-haikei2.svg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    h1 {
        font-size: 3.5rem;
         margin: 1rem 0 2rem 0;
    }
    .body {
        width: 70vw;
        height: 70vh;
    }   
    .row1, .row2, .row3, .row4, .row5 {
       margin: 1rem 0; 
    }
    .result-box {
        height: 15vh;
    }
    .input-box {
        height: 55vh;
        padding-top: 20px;
    }
    .footer {
        height: 8vh;
        padding-top: 50px;
    }
}
